body，h1, h2, h3, h4, h5, h6, p, ul, ol, li, form, input, select, textarea {
    margin: 0;
    padding: 0;

}

body {
    background: #e9eaed;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
}
article {
    width: 1200px;
    overflow: hidden;
    margin: 20px auto;
}


.header {
    height: 60px;
    width: 100%;
    background: #15272c;
}

.headerBox {
    width: 1200px;
    height: 60px;

    margin: 0 auto;
}

.headerBox .headerBox1 {
    width: 160px;
    height: 100%;
    float: left;
    margin-top: 0;
}

.headerBox1 {
    font-family: 微软雅黑;
    color: #fbfffd;
    line-height: 60px;
    margin-left: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
}

.headerBox .headerBox2 {
    width: 730px;
    height: 100%;
    float: left;
    padding: 0 20px;
}

.headerBox2 a {
    font-family: 微软雅黑;
    font-size: 15px;
    line-height: 60px;
    text-decoration: none;
    margin-left: 30px;
    color: #fbfffd;
}

.headerBox2 a:hover {
    color: #00c1de;

}

.headerBox .headerBox3 {
    width: 200px;
    height: 100%;
    float: right;
    overflow: hidden;
}

.headerBox3 .searchico {
    float: right;
    margin-top: 15px;
    width: 30px;
    height: 30px;
}
.lbox {
    width: 75%;
    float: left;
    overflow: hidden;
    padding: 20px;
    background: #ffffff;
}
.lbox .bloglist .tit1 {
    font-size: 16px;
    line-height: 40px;
    border-bottom: 1px solid #eeeeee;
    color: #484848;
    font-weight: normal;
    position: relative;
    margin-bottom: 10px;
}

.lbox .bloglist .tit1:hover::before {
    width: 90px;
}

.lbox .bloglist .tit1::before {
    content: '';
    width: 60px;
    height: 2px;
    position: absolute;
    top: 39px;
    bottom: -1px;
    background: #333333;
    transition: all .20s ease-in;
}
.lbox .bloglist .tit2{
    font-size: 22px;
    margin-top: 20px;
}
.bloginfo {
    margin-top: 20px;
    overflow: hidden;
    color: #999;
    line-height: 34px;
}
.bloginfo .avatar img{
    height: 30px;
    width: 30px;

}
.info {
    color: #888888;
    border: 1px solid #F3F3F3;
    padding: 10px;
    margin: 10px auto 0;
    line-height: 23px;
    background: none repeat 0 0 #F6F6F6;
}
.info b{
    margin-right: 10px;
    color: #000;
}
.rbox {
    width: 23.5%;
    float: right;
    overflow: hidden;

}

.text .pri3 {
    width: 500px;
    height: 333px;
    margin: 0 15%;
}
.text .pri4 {
    width: 517px;
    height: 131px;
    margin: 0 15%;
}

